In [1]:
#Write a Python program to loop through all the elements in a list.

In [2]:
list = [1,2,3,4,5,6]
for x in list:
    print(x)

1
2
3
4
5
6

In [3]:
#Write a Python program where you will ask the users to insert elements in a list

In [4]:
total=[]
n = int(input("enter the range "))
for i in range(n):
    num =int(input("enter the number  "))
    total.append(num)
print(total)

enter the range 7
enter the number  7
enter the number  7
enter the number  9
enter the number  9
enter the number  8
enter the number  9
enter the number  0
[7, 7, 9, 9, 8, 9, 0]

In [5]:
#Write a Python program to remove all the odd index value from a list and only even index elements should remain

In [1]:
def keep_even_index_elements(input_list):
    return input_list[::2]

original_list =[1,2,3,4,5,6,7,8]
result_list =""
keep_even_index_elements(original_list)
print(result_list)

In [6]:
total=[]
n = int(input("enter the range "))
for i in range(n):
    num =int(input("enter the number  "))
    total.append(num)
print(total)
for i in total:
    if(total.index(i)%2==0):
        print(i)

enter the range 5
enter the number  1
enter the number  2
enter the number  3
enter the number  4
enter the number  5
[1, 2, 3, 4, 5]
1
3
5

In [7]:
#Write a Python program to sum and multiply all the items in a list.

In [9]:
#. Write a Python program to get the maximum and minimum numbers from a list.

In [11]:
list=[7,13,25,77,183]
print(max(list))
print(min(list))

183
7

In [12]:
#write a python program to print a specified list after removing the 0th, 4th and 5th elements.

In [13]:
l=["janakiram","gopi","krishna","jyothi","ebhi","basheer","nagendra","venky"]
length=len(l)
n=[]
for i in range(length):
    if i==0 or i==4 or i==5:
        n.append(l[i])
print(l)
print(n)

['janakiram', 'gopi', 'krishna', 'jyothi', 'ebhi', 'basheer', 'nagendra', 'venky']
['janakiram', 'ebhi', 'basheer']

In [14]:
#rite a Python program to convert a list of characters into a string

In [15]:
x=["janakiramudu"]

In [16]:
type(x)

list

In [17]:
s=str(x)

In [18]:
type(s)

str

In [19]:
#Write a Python program to compute average of given lists.

In [21]:
#write a python program to count integer in a given mixed list

In [23]:
list=["ram",1,44,67,"janaki",77,1231.1,2+1j,"soo"]
count=0
for i in list:
    if type(i)==int:
        count+=1
print(count)

4

In [24]:
#write a python program to reverse the list

In [25]:
list=["margorp nohtyp",11.3,"noisrev"]
list.reverse()

In [26]:
list

['noisrev', 11.3, 'margorp nohtyp']

In [39]:
x="abcdefghi"

In [40]:
x[::-1]

'ihgfedcba'

In [44]:
# write a python program convert a given string to a tuple

In [46]:
s=input("enter your string  :")
t=tuple(s)
print(t)

enter your string  :janaki
('j', 'a', 'n', 'a', 'k', 'i')